@model IEnumerable<LibraryManagerment.Models.TbMenu>

@foreach(var item in Model)
{
    <li class="nav-item">
        <a class="nav-link" href="/@item.Alias">
            @item.Title
        </a>
    </li>
}